<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- cabecera del doc-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-compatible" content="IE=edge">
        <title> rimel <!--titulo dela pagina--> </title>
        <link rel="stylesheet" href="/static/styles.css"> <!-- enlace al stylsheet  -->
    </head>

    <div class="encabezadoproducto"> 
        <body>
            <h1>Bienvenido a la Página 2</h1>
            <p>Has sido redirigido desde la Página 1.</p>
        </body>
         
    </div>
</html>  